<div class="article-content">
  <%= @article.content %>
</div>

<%if current_user == @article.user%>
	<div class="article-info">
	  <%= link_to 'Edit', edit_article_path(@article)%>
	</div>
<%end%>

<div class="comment-form">
  <%= form_for [@article, @comment] do |f|%>
    <%=f.text_area :content%>
    <%=f.submit 'Lưu'%>
  <%end%>
</div>

<div class="comments">
	<% @comments.each do |comment|%>
	   <div>
	     <%= comment.content %>
	   </div>
	<% end %>
</div>


     


